body {
    background-color: lightgrey;
}

.navigation_top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation_top li {
    float: right;
}

.navigation_top li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation_top li a:hover {
    background-color: #111;
}

.active {
    background-color: slateblue;
}

.button_list ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 50%;
}

.button_list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button_list li a:hover {
    background-color: #111;
}

.center_container {
    text-align: center;
}

h1 {
    font-size: 40pt;
    padding: 0;
    margin: 0;
    text-align: center;
}

h4 {
    font-size: 24pt;
    padding: 0;
    margin: 0;
    text-align: center;
}
