body {
    background-color: lightgrey;
}

.navigation_top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation_top li {
    float: right;
}

.navigation_top li a {
    display: block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation_top li button {
    display: block;
    border: solid #333;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation_top li a:hover {
    background-color: #111;
}

.navigation_top li button:hover {
    background-color: #111;
}


.button_list ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 50%;
}

.button_list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button_list li a:hover {
    background-color: #111;
}

.button_list li button:hover {
    background-color: #111;
}

.center_container {
    text-align: center;
}

.left_container {
    text-align: left;
}

.right_container {
    text-align: right;
}

.info_container {
    display: inline-block;
    margin: auto;
    position: relative;
    top: 10px;
    left: 15%;
    height: 50%;
    width: 70%;
    background-color: rgba(155, 155, 155, 50);
}

.info_container p {
    margin-left: 50px;
    margin-right: 50px;
}

.account_container {
    display: inline-block;
    margin: auto;
    position: relative;
    top: 20px;
    left: 15%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 70%;
    background-color: rgba(155, 155, 155, 50);
}

.account_container a {
    background-color: #333;
    display: block;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}


.balance_change {
    border: 2px solid #a9a9a9;
    position: relative;
    top: 10px;
    left: 33.34%;
    width: 33.34%;
}

.account_container a:hover {
    background-color: slateblue;
}

h1 {
    font-size: 40pt;
    padding: 0;
    margin: 0;
    text-align: center;
}

h3 {
    font-size: 18pt;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
}

h4 {
    font-size: 24pt;
    padding: 0;
    margin: 0;
    text-align: center;
}


input {
    position: relative;
    left: 33.34%;
    width: 33.34%; 
    border: 2px solid #a9a9a9;
}

input[type=submit] {
    background-color: #333;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type=submit]:hover {
    background-color: slateblue;
}

.logon_container {
    position: relative;
    width: 70%;
    height: auto;
    top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    left: 15%;
    background-color: rgba(155, 155, 155, 50);
}

.register_requirements {
    position: relative;
    left: 40%;
    height: auto;
    width: 200px;
    top: 10px;
    
    
    background-color: rgba(155, 155, 155, 50);
}

.menu_container {
    position: relative;
    width: 70%;
    height: auto;
    top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    left: 15%;
    background-color: rgba(155, 155, 155, 50);
}



.drink_container {
    text-align: center;
    display: inline-block;
    position: relative;
    width: 30%;
    height: 400px;
    top: 10px;
    margin: 15px;
    background-color: #333;
    color: white;
}

.display_image {
    position: relative;
    width: 80%;
    height: 80%;
}

.drink_title {
    position: relative;
}

.inventory_container {
    text-align: center;
    position: relative;
    width: 70%;
    height: auto;
    top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    left: 15%;
    background-color: rgba(155, 155, 155, 50);
}

.inventory_container ul {
    list-style-type: none;
}

.inventory_container input[type=number] {
    width: 50px;
    position: unset;
    left: 0;
    border: 2px solid #a9a9a9;
}
