<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/style.css?{% now 'U' %}" type = "text/css"/>
        <title>Dan's Frap. Paradise</title>
    </head>

    <body>
        <div class="navigation_top">
            <ul>
				<li><a href="{% url 'logout_user' %}">Log Off</a></li>
				<li><a href="{% url 'home_customer' %}">About</a></li>
                <li><a href="{% url 'account_customer' %}" class="active">Settings</a></li>
                <li><a href="{% url 'menu_customer' %}">Menu</a></li>

			</ul>
        </div>
        <h1>Dan's Frappuccino Paradise</h1>
        <h4>Account Settings</h4>
        
        <div class="account_container">
            <h4>Username: {{ account }}</h4> 
            <h4>Current Balance: {{ account.balance }}</h4>
            <form method="POST" actions="">
                {% csrf_token %}
                <br>
                <div class="input_box"><input type="text" name="username" placeholder="New Username"></div>
                <br>
                <input type="submit" value="Update Username">
            </form>
            <a href="{% url 'update_balance' %}" class="balance_change">Increase Money by 100$</a>
        </div>
    </body>
</html>