<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/style.css" type = "text/css"/>
        <title>Dan's Frap. Paradise</title>
    </head>

    <body>
        <div class="navigation_top">
            <ul>
				<li><a href="{% url 'home_general' %}">Log Off</a></li>
				<li><a href="{% url 'home_manager' %}">About</a></li>
                <li><a href="{% url 'account_manager' %}"  class="active">Settings</a></li>
                <li><a href="{% url 'menu_manager' %}">Menu</a></li>
                <li><a href="{% url 'cashier_manager' %}">Cash Register</a></li>
                <li><a href="{% url 'pay_page_manager' %}">Timecards</a></li>
                <li><a href="{% url 'stock_manager' %}">Stock Overview</a></li>
			</ul>
        </div>

        <h1>Dan's Frappuccino Paradise</h1>
        <h4>Account Settings</h4>
        <p>Manager Account</p>
    </body>
</html>