<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/style.css?{% now 'U' %}" type = "text/css"/>
        <title>Dan's Frap. Paradise</title>
    </head>

    <body>
        <div class="navigation_top">
            <ul>
				<li><a href="{% url 'logon_page' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
				<li><a href="{% url 'home_general' %}" class="active">About</a></li>
			</ul>
        </div>

        <h4>Welcome To</h4>
        <h1>Dan's Frappuccino Paradise</h1>
        
        <div class="info_container">
            <h4> About Us </h4>
            <p>Dan's Frappuccino Paradise is a software engineering project for the CS3450 class during the
                Fall 2022 semester at Utah State University. This instance of the project was worked on by
                Keldon Boehmer, Zachary Harrison, Jensen Judkins, and Noah Knight. The purpose of this project was
                to learn and improve on software engineering skills that will be expected of the software
                developer workforce. The implementation of this project (i.e. the software that we created) is none
                other than this very website! This website simulates an online frappucino shop, and has support
                for customers, employees, and managers. Customers can select a drink from the menu to order, and
                include or exclude the ingredients they would want in their drink, with the price changing
                accordingly. When a customer submits their order, an employee can log into the website and fulfill
                their order. Employees also log how many hours they've worked. Managers, as the name implies, manage
                the store. This includes the duties of paying employees and purchasing stock of ingredients for the
                store. The website has an economy, or flow of money. Each user has a monetary balance that they can
                increase at any time. When a drink is purchased, the customer's money is deducted from their account
                and is added to the balance of a manager. Managers use their balance to pay employees and purchase
                inventory. Money is deducted from a manager's balance and is added to the employee's balance when
                the employee is paid. Purchasing inventory removes money from the manager's account based
                on the amount of ingredients purchased. Each drink has a base price, and each
                ingredient also has a price. An ingredient's price is marked up when it is added to a user's
                frappuccino, so that the store can profit. You can see all of these features for yourself by simply
                exploring the website! Thank you for your time.</p>
        </div> 
        
    </body>
</html>