<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/style.css?{% now 'U' %}" type = "text/css"/>
        <title>Dan's Frap. Paradise</title>
    </head>

    <body>
        <div class="navigation_top">
            <ul>
				<li><a href="{% url 'logout_user' %}">Log Off</a></li>
				<li><button onclick="aboutNav()" id="about_button" class="navigation_button">About</button></li>
                <li><button onclick="settingsNav()" id="settings_button" class="navigation_button">Settings</button></li>
                <li><button onclick="menuNav()" id="menu_button" class="navigation_button" style="background-color: slateblue; border-color: slateblue;">Menu</button></li>
                {% if account.user_type == "Manager" or account.user_type == "Employee" %}
                <li><button onclick="cashierNav()" id="cashier_button" class="navigation_button">Cash Register</button></li>
                {% endif %}
                {% if account.user_type == "Manager" %}
                <li><button onclick="payNav()" id="pay_nav_button" class="navigation_button">Timecards</button></li>
                <li><button onclick="stockNav()" id="stock_button" class="navigation_button">Inventory</button></li>
                {% endif %}
			</ul>
        </div>
        <div id="home_div" style="display: none">
            <h4>Welcome To</h4>
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Hello {{ account.user.username }}</h4>
            <div class="info_container">
                <h4> About Us </h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                    Reprehenderit est dolore ex nihil, alias ipsum corporis 
                    autem in fuga sequi quod, voluptas dignissimos tenetur 
                    harum quisquam officia? Dolores tempore neque sequi 
                    aliquid placeat ducimus mollitia atque consectetur ratione, 
                    temporibus necessitatibus obcaecati non quia exercitationem? 
                    Ratione accusamus rerum vitae necessitatibus libero quisquam 
                    optio nulla, quidem error eum corporis. Quisquam tempora reprehenderit 
                    qui quia fugit aut totam necessitatibus animi, tempore ad, optio sed, 
                    earum ipsa enim vitae assumenda mollitia possimus? Explicabo magnam quia maxime, 
                    molestiae voluptate ipsam ipsa ut reiciendis nemo, architecto impedit reprehenderit 
                    eveniet vero doloribus quaerat laboriosam, quod cum placeat eaque odio? Fuga ipsa 
                    doloribus reprehenderit quae culpa nisi quibusdam omnis, voluptatibus aperiam corrupti 
                    ullam vel saepe repellendus, eligendi perspiciatis placeat quas veritatis tempora nulla? 
                    Repellendus dolore dicta, mollitia maiores, vitae dignissimos ullam qui assumenda vero0 
                    reiciendis facilis quaerat impedit, rerum accusamus? Suscipit omnis, eos nemo 
                    doloribus saepe obcaecati neque.</p>
            </div> 
        </div>

        <div id="account_div" style="display: none">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Account Settings</h4>
            
            <div class="account_container">
                <h4>Username: {{ account }}</h4> 
                <h4>Current Balance: {{ account.balance }}</h4>
                <form method="POST" actions="">
                    {% csrf_token %}
                    <br>
                    <div class="input_box"><input type="text" name="username" placeholder="New Username"></div>
                    <br>
                    <input type="submit" name="update_username" value="Update Username">
                </form>
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" name="increase_balance" value="Increase Balance By $100">
                </form>
                <br>
                {% if account.user_type == "Employee" %}
                <a href="" class="balance_change">Increase Hours Worked by 4 hours</a>
                {% endif %}
                {% if account.user_type == "Manager" %}
                <div class="input_box"><input type="text" name="employee_name" placeholder="Employee Name"></div>
                <a href="" class="balance_change">Hire Employee</a>
                <a href="" class="balance_change">Fire Employee</a>
                {% endif %}
            </div>
        </div>

        <div id="menu_div" style.display="block">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Menu</h4>
            <div class="menu_container">
                {% for drink in drinks %}
                <div class="drink_container" id="{{ drink }}">
                    {{ drink }}
                    <br><br>
                    <img class="display_image" src="{{ drink.image }}">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="submit" name="{{ drink }}" class="order_button" value="Order Now!">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="drink_div" style="display: none">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Order</h4>
            <h3>{{ current_drink }}</h3>
            <br>
            <img class="order_display_image" src="{{ current_drink.image }}">
            <div style="background-color: rgba(155, 155, 155, 50); padding: 25px;">
                <form method="POST">
                    {% csrf_token %}
                    <table class="drink_addons">
                        <tr>
                            <th>Quantity</th>
                            <th>Add On</th>
                            <th>Cost</th>
                        </tr>
                        <script>
                            window.cost = parseFloat("{{ current_drink.price }}")
                            console.log(window.cost)
                            window.quant_list = {}
                            window.price_list = {}

                            function increaseCost(ingredient_name) {
                                window.cost -= window.quant_list[ingredient_name] * window.price_list[ingredient_name]
                                window.quant_list[ingredient_name] = document.getElementById(ingredient_name).value
                                window.cost += window.quant_list[ingredient_name] * window.price_list[ingredient_name]
                                document.getElementById('cost_display').innerHTML = "$" + window.cost.toFixed(2)
                            }
                        </script>
                        {% for ingredient in ingredients %}
                        <tr>
                            <td class="addon_quantity"><input type="number" id="{{ingredient}}" onchange="increaseCost(this.id)" value="{% if ingredient in current_drink.ingredients.all %}1{% else %}0{% endif %}"></td>
                            <td class="addon_title">{{ ingredient }}</td>
                            <td class="addon_price">${{ ingredient.price }}</td>
                            <script>
                                window.quant_list['{{ingredient}}'] = document.getElementById("{{ingredient}}").value
                                window.price_list['{{ingredient}}'] = parseFloat("{{ingredient.price}}")
                                window.cost += window.quant_list['{{ingredient}}'] * window.price_list['{{ingredient}}']
                            </script>
                        </tr>
                        {% endfor %}
                    </table>
                    <h3 id="cost_display"></h3>
                    <script>
                        document.getElementById('cost_display').innerHTML = "$" + window.cost.toFixed(2)
                    </script>
                    <input type="submit" name="order_submit" value="Submit Order">
                </form>
                
            </div>

        </div>



        {% if account.user_type == "Manager" or account.user_type == "Employee" %}
        <div id="cashier_div" style="display: none">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Cashier</h4>
        </div>
        {% endif %}

        {% if account.user_type == "Manager" %}
        <div id="pay_div" style="display: none">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Pay Page</h4>   
            <div class="inventory_container">
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th>Employee Username</th>
                            <th>Hours Worked</th>
                            <th>Hourly Wages</th>
                        </tr>
                        {% for user in all_accounts %}
                            {% if user.user_type == "Employee" %}
                                <tr>
                                    <td>{{user}}</td>
                                    <td>{{user.hours}}</td>
                                    <td>$20.00 / hour</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <br>
                    <input id="pay_employees_button" type="submit" name="pay_employees" value="Pay Employees">
                </form>
            </div>
        </div>
        {% endif %}

        {% if account.user_type == "Manager" %}
        <div id="stock_div" style="display: none">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Inventory</h4>
            <form method="POST">
                {% csrf_token %}
                <div class="inventory_container">
                    <table>
                        <tr>
                            <th>Order Quantity</th>
                            <th>Ingredient</th>
                            <th>Current Stock</th>
                        </tr>
                    {% for ingredient in ingredients %}
                        <tr>
                            <td class="ingrediet_input"><input type="number" id="{{ingredient}}" name="inventory_{{ingredient}}" value="0"></td>
                            <td class="ingredient_title">{{ ingredient }}</td>
                            <td class="ingredient_stock">{{ ingredient.stock }}</td>
                        </tr>
                    {% endfor %}
                    </table> 
                    <h2>Cost: $100.00</h2> 
                    <input id="purchase_stock_button" type="submit" name="purchase_stock" value="Purchase Stock">
                </div>
            </form>
        </div>
        {% endif %}

        <script src="../static/script.js"></script>
        {% if goto_page == 'account' %}
            <script>settingsNav()</script>
        {% elif goto_page == 'order_page' %}
            <script>drinkPageNav()</script>
        {% endif %}

    </body>
</html>