<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/style.css" type = "text/css"/>
        <title>Dan's Frap. Paradise</title>
    </head>

    <body>
        <div class="navigation_top">
            <ul>
				<li><a href="{% url 'home_general' %}">Log Off</a></li>
				<li><a href="{% url 'home_customer' %}" class="active">About</a></li>
                <li><a href="{% url 'account_customer' %}">Settings</a></li>
                <li><a href="{% url 'menu_customer' %}">Menu</a></li>
			</ul>
        </div>

        <h4>Welcome To</h4>
        <h1>Dan's Frappuccino Paradise</h1>
        <h4>Hello {{ account.user.username }}</h4>
        <p>Customer Home</p>
    </body>
</html>