<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/style.css?{% now 'U' %}" type = "text/css"/>
        <title>Dan's Frap. Paradise</title>
    </head>

    <body>
        <div class="navigation_top">
            <ul>
				<li><a href="{% url 'logout_user' %}">Log Off</a></li>
				<li><button onclick="aboutNav()" id="about_button" class="navigation_button">About</button></li>
                <li><button onclick="settingsNav()" id="settings_button" class="navigation_button">Settings</button></li>
                <li><button onclick="menuNav()" id="menu_button" class="navigation_button" style="background-color: slateblue; border-color: slateblue;">Menu</button></li>
                {% if account.user_type == "Manager" or account.user_type == "Employee" %}
                <li><button onclick="cashierNav()" id="cashier_button" class="navigation_button">Cash Register</button></li>
                {% endif %}
                {% if account.user_type == "Manager" %}
                <li><button onclick="payNav()" id="pay_nav_button" class="navigation_button">Timecards</button></li>
                <li><button onclick="stockNav()" id="stock_button" class="navigation_button">Inventory</button></li>
                {% endif %}
			</ul>
        </div>
        <div id="home_div" style="display: none">
            <h4>Welcome To</h4>
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Hello {{ account.user.username }}</h4>
            <div class="info_container">
                <h4> About Us </h4>
                <p>
                    Dan's Frappuccino Paradise is a software engineering project for the CS3450 class during the
                    Fall 2022 semester at Utah State University. This instance of the project was worked on by
                    Keldon Boehmer, Zachary Harrison, Jensen Judkins, and Noah Knight. The purpose of this project was
                    to learn and improve on software engineering skills that will be expected of the software
                    developer workforce. The implementation of this project (i.e. the software that we created) is none
                    other than this very website! This website simulates an online frappucino shop, and has support
                    for customers, employees, and managers. Customers can select a drink from the menu to order, and
                    include or exclude the ingredients they would want in their drink, with the price changing
                    accordingly. When a customer submits their order, an employee can log into the website and fulfill
                    their order. Employees also log how many hours they've worked. Managers, as the name implies, manage
                    the store. This includes the duties of paying employees and purchasing stock of ingredients for the
                    store. The website has an economy, or flow of money. Each user has a monetary balance that they can
                    increase at any time. When a drink is purchased, the customer's money is deducted from their account
                    and is added to the balance of a manager. Managers use their balance to pay employees and purchase
                    inventory. Money is deducted from a manager's balance and is added to the employee's balance when
                    the employee is paid. Purchasing inventory removes money from the manager's account based
                    on the amount of ingredients purchased. Each drink has a base price, and each
                    ingredient also has a price. An ingredient's price is marked up when it is added to a user's
                    frappuccino, so that the store can profit. You can see all of these features for yourself by simply
                    exploring the website! Thank you for your time.
                </p>
            </div> 
        </div>

        <div id="account_div" style="display: none">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Account Settings</h4>
            
            <div class="account_container">
                <h4>Username: {{ account }}</h4> 
                <h4>Current Balance: {{ account.balance }}</h4>
                {% if account.user_type == "Employee" %}
                <h4>Current Hours: {{ account.hours }} </h4>
                {% endif %}
                <form method="POST" actions="">
                    {% csrf_token %}
                    <br>
                    <div class="input_box"><input type="text" name="username" placeholder="New Username"></div>
                    <br>
                    <input type="submit" name="update_username" value="Update Username">
                </form>
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" name="increase_balance" value="Increase Balance By $100">
                </form>
                <br>
                <br>
                
                {% if account.user_type == "Employee" %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" name="increase_hours" value="Add 4 hours to Timecard">
                </form>
                {% endif %}

                {% if account.user_type == "Manager" %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" name="account_type_change" placeholder="Employee Name">
                    <br><br>
                    <input type="submit" name="hire_employee" value="Hire Employee">
                    <br>
                    <input type="submit" name="fire_employee" value="Fire Employee">
                </form>
                {% endif %}

                
            </div>
        </div>

        <div id="menu_div" style.display="block">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Menu</h4>
            <div class="menu_container">
                {% for drink in drinks %}
                <div class="drink_container" id="{{ drink }}">
                    {{ drink }}
                    <br><br>
                    <img class="display_image" src="{{ drink.image }}">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="submit" name="{{ drink }}" class="order_button" value="Order Now!">
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="drink_div" style="display: none">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Order</h4>
            <h3>{{ current_drink }}</h3>
            <br>
            <img class="order_display_image" src="{{ current_drink.image }}">
            <div style="background-color: rgba(155, 155, 155, 50); padding: 25px;">
                <form method="POST">
                    {% csrf_token %}
                    <table class="drink_addons">
                        <input type=hidden name="drink_name" value="{{current_drink.name}}">
                        <tr>
                            <th>Quantity</th>
                            <th>Add On</th>
                            <th>Cost</th>
                        </tr>
                        <script>
                            window.cost = parseFloat("{{ current_drink.price }}")
                            window.quant_list = {}
                            window.price_list = {}

                            function increaseCost(ingredient_name) {
                                window.cost -= window.quant_list[ingredient_name] * window.price_list[ingredient_name]
                                window.quant_list[ingredient_name] = document.getElementById(ingredient_name).value
                                window.cost += window.quant_list[ingredient_name] * window.price_list[ingredient_name]
                                document.getElementById('cost_display').innerHTML = "Current Balance: {{ account.balance }} | Cost: $" + window.cost.toFixed(2)
                            }
                        </script>
                        {% for ingredient in ingredients %}
                        <tr>
                            <td class="addon_quantity"><input type="number" id="{{ingredient}}" name="{{ingredient}}" onchange="increaseCost(this.id)" value="{% if ingredient in current_drink.ingredients.all %}1{% else %}0{% endif %}"></td>
                            <td class="addon_title">{{ ingredient }}</td>
                            <td class="addon_price">${{ ingredient.price }}</td>
                            <script>
                                window.quant_list['{{ingredient}}'] = document.getElementById("{{ingredient}}").value
                                window.price_list['{{ingredient}}'] = parseFloat("{{ingredient.price}}")
                                window.cost += window.quant_list['{{ingredient}}'] * window.price_list['{{ingredient}}']
                            </script>
                        </tr>
                        {% endfor %}
                    </table>
                    <h3 id="cost_display"></h3>
                    <script>
                        document.getElementById('cost_display').innerHTML = "Current Balance: {{ account.balance }} | Cost: $" + window.cost.toFixed(2)
                    </script>
                    <input type="submit" class="order_submit" name="order_submit" value="Submit Order">
                </form>
                
            </div>

        </div>



        {% if account.user_type == "Manager" or account.user_type == "Employee" %}
        <div id="cashier_div" style="display: none">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Cashier</h4>
            <table style="text-align: center;">
                <tr>
                    <th>Customer Name</th>
                    <th>Drink Name</th>
                    <th>Ingredients</th>
                    <th>Price</th>
                    <th>Fulfill Order</th>
                </tr>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.name }}</td>
                        <td>{{ order.drink.name }}</td>
                        <td>{% for key, val in all_order_ingredients.items %}{% if order.orderNum == key%}
                            {% for key1, val1 in val.items %}{% if val1 != 0 %}{{key1}} | {{val1}} <br> {% endif %}{% endfor %}
                        {% endif %}{% endfor %}</td>
                        <td>${{ order.price }}</td>
                        <td style="text-align: left;"><form method="POST">{% csrf_token %}<input type="hidden" name="order_id" value="{{order.orderNum}}"><input type=submit class="order_fulfill" name="order_fulfill" value="Fulfill Order"></form></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}


        {% if account.user_type == "Manager" %}
        <div id="pay_div" style="display: none">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Pay Page</h4>   
            <div class="inventory_container">
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th>Employee Username</th>
                            <th>Hours Worked</th>
                            <th>Hourly Wages</th>
                        </tr>
                        {% for user in all_accounts %}
                            {% if user.user_type == "Employee" %}
                                <tr>
                                    <td>{{user}}</td>
                                    <td>{{user.hours}}</td>
                                    <td>$20.00 / hour</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <br>
                    <h2>Current Balance: {{ account.balance }}</h2>
                    <input id="pay_employees_button" type="submit" name="pay_employees" value="Pay Employees">
                </form>
            </div>
        </div>
        {% endif %}

        {% if account.user_type == "Manager" %}
        <div id="stock_div" style="display: none">
            <h1>Dan's Frappuccino Paradise</h1>
            <h4>Inventory</h4>
            <script>
                window.stock_cost = 0
                window.item_cost_list = {}
                window.stock_quant_list = {}
                window.stock_price_list = {}

                function increaseStockCost(ingredient_name) {
                    ingredient_name = ingredient_name.substring(0, ingredient_name.length - 6)
                    console.log(ingredient_name)
                    window.stock_cost -= window.item_cost_list[ingredient_name] 

                    window.stock_quant_list[ingredient_name] = document.getElementById(ingredient_name + "_order").value
                    console.log(stock_quant_list)
                    window.item_cost_list[ingredient_name] = window.stock_quant_list[ingredient_name] * window.stock_price_list[ingredient_name]

                    window.stock_cost += window.item_cost_list[ingredient_name]

                    document.getElementById(ingredient_name + '_cost').innerHTML = "$" + window.item_cost_list[ingredient_name]
                    document.getElementById('stock_cost_display').innerHTML = "Current Balance: {{ account.balance }} | Total Cost: $" + window.stock_cost.toFixed(2)
                }
            </script>
            <form method="POST">
                {% csrf_token %}
                <div class="inventory_container">
                    <table>
                        <tr>
                            <th>Ingredient</th>
                            <th>Current Stock</th>
                            <th>Order Quantity</th>
                            <th>Cost</th>
                        </tr>
                    {% for ingredient in ingredients %}
                        <tr>
                            <td class="ingredient_title">{{ ingredient }}</td>
                            <td class="ingredient_stock">{{ ingredient.stock }}</td>
                            <td class="ingrediet_input"><input type="number" onchange="increaseStockCost(this.id)" id="{{ingredient}}_order" name="inventory_{{ingredient}}" value="0"></td>
                            <td class="ingredient_cost" id="{{ingredient}}_cost">$0</td>
                        </tr>
                        <script>
                            window.stock_quant_list['{{ingredient}}'] = document.getElementById("{{ingredient}}_order").value
                            window.stock_price_list['{{ingredient}}'] = parseFloat("{{ingredient.price}}")
                            window.item_cost_list['{{ingredient}}'] = window.stock_quant_list['{{ingredient}}'] * window.stock_price_list['{{ingredient}}']
                        </script>
                    {% endfor %}
                    </table> 
                    <h2 id="stock_cost_display">Current Balance: {{ account.balance }} | Total Cost: $0.00</h2> 
                    <input id="purchase_stock_button" type="submit" name="purchase_stock" value="Purchase Stock">
                </div>
            </form>
        </div>
        {% endif %}

        <script src="../static/script.js"></script>
        {% if goto_page == 'account' %}
            <script>settingsNav()</script>
        {% elif goto_page == 'order_page' %}
            <script>drinkPageNav()</script>
        {% elif goto_page == 'inventory' %}
            <script>stockNav()</script>
        {% elif goto_page == 'payroll' %}
            <script>payNav()</script>
        {% elif goto_page == 'cash_register' %}
            <script>cashierNav()</script>
        {% endif %}

    </body>
</html>