<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/style.css?{% now 'U' %}" type = "text/css"/>
        <title>Dan's Frap. Paradise</title>
    </head>

    <body>
        <div class="navigation_top">
            <ul>
				<li><a href="{% url 'logon_page' %}" class="active">Login</a></li>
				<li><a href="{% url 'home_general' %}">About</a></li>
			</ul>
        </div>
        <h1>Dan's Frappuccino Paradise</h1>
        <h4>Log In</h4>
        <div class="center_container">
            <div class="button_list">
                <ul>
                    <li><a href="{% url 'home_customer' %}"> Log In As Customer</a></li>
                    <li><a href="{% url 'home_employee' %}"> Log In As Employee</a></li>
                    <li><a href="{% url 'home_manager' %}"> Log In As Manager</a></li>
                </ul>
            </div>  
        </div>
    </body>
</html>