<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/style.css?{% now 'U' %}" type = "text/css"/>
        <title>Dan's Frap. Paradise</title>
    </head>

    <body>
        <div class="navigation_top">
            <ul>
				<li><a href="{% url 'logon_page' %}" class="active">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
				<li><a href="{% url 'home_general' %}">About</a></li>
			</ul>
        </div>
        <h1>Dan's Frappuccino Paradise</h1>
        <h4>Log In</h4>
        <div class="center_container">
            

                    <form method="POST" actions="">
                        {% csrf_token %}
                        
                        <div>
                            <input type="text" name="username" placeholder="Username">
                            <br>
                            <input type="text" name="password" placeholder="Password">
                            <br>
                            <input type="submit" value="Login">
                        </div>



                        {{form.errors}}
                        {% for message in messages %}
                        <p>{{message}}</p>
                        {% endfor %}
                        
                    </form>
             
        </div>
    </body>
</html>