



<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/style.css?{% now 'U' %}" type = "text/css"/>
        <title>Dan's Frap. Paradise</title>
    </head>

    <body>
        <div class="navigation_top">
            <ul>
				<li><a href="{% url 'logon_page' %}">Login</a></li>
                <li><a href="{% url 'register' %}"  class="active">Register</a></li>
				<li><a href="{% url 'home_general' %}">About</a></li>
			</ul>
        </div>
        <h1>Dan's Frappuccino Paradise</h1>
        <h4>Register a New Account</h4>

        <div class="logon_container">
            <form method="POST" actions="" class="input">
                {% csrf_token %}
                <div class="input_box"><input type="text" placeholder="Username" name="username"></div>
                <br>
                <div class="input_box"><input type="password" placeholder="Password" name="password1"></div>
                <br>
                <div class="input_box"><input type="password"  placeholder="Confirm Password" name="password2"></div>
                <br>
                {{form.errors}}
                <input type="submit" name="Create User">
            </form>
        </div>

    </body>
</html>